@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

body {
   font-family: 'Catamaran', sans-serif;
   margin: 0;
   padding: 0;
}

header {
   display: inline;
}


.featured-image {
   width: 100%;
   max-height: 500px;
   object-fit: cover;
   object-position: center;
}

nav a {
   font-size: 20px;
   font-weight: 400;
   text-decoration: none;
   text-decoration: none;
   color: white;
}

nav a:hover {
   font-weight: bold;
}

nav li {
   display: inline;
   list-style-type: none;
   margin-right: 53px;
}

nav {
   background-color: #3b5998;
   padding: 5px;
   position: sticky;
   top: 0;
}

.jumbotron {
   font-size: 35px;
   padding: 60px;
   background-color: #55acee;
   text-align: center;
   color: white;
}

.btn-wrapper {
  text-align: right;
  margin: 20px 0;
}

.signup, .login {
  background-color: #239b76;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline;
  opacity: 0.8;
  border-radius: 4px;
  text-align: right;
}

.btn:hover {
  opacity: 1;
}

nav {
	float: left;
}

article li:hover {
	font-weight: bold;
}

aside {
   float: right;
   width: 30%;
   padding-left: 20px;
   font-size: 20px;
}

.image-diri {
	display: block;
	width: 200px;
}

#content, footer {
   float: left;
   width: 70%;
}

* {
   box-sizing: border-box;
}

footer {
   padding: 10px;
   color: white;
   background-color: #55acee;
   font-weight: bold;
   width: 100%;
}

.footer-logo {
	float: left;
	width: 250px;
	margin-left: 90px;
}

.footer-list {
	float: right;
	margin: 10px;
}

.footer-list li {
	display: inline;
	padding: 50px;
}

.footer-list a {
	text-decoration: none;
    text-decoration: none;
}

.footer-list li:hover {
	font-size: 30px;
}

nav .drop-down {
  list-style: none; 
  overflow: hidden; 
  height: 280px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  background-color: #34495e;
  font-family: Arial;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
}

nav .drop-down.closed {
  /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
      with overflow: hidden set on the ul will hide all list items apart from the first */
  /* current li height 38px + 5px border */
  height: 43px;
}

nav .drop-down li {
  border-bottom: 5px solid #2c3e50;
}

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -30px; /* Excessive -margin to bring link text back to center */
  margin-right: 5px;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
   
   .btn-wrapper {
	   display: none;
   }
}

